.tabuleiro{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    padding: 25px;
}
.display{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 75px;
    margin-bottom: 75px;
}
.break {
    flex-basis: 100%;
    height: 0;
}

.item{
    flex: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.card{
    background-color: #a58ad5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}
